body {
    background-color: #d8e6e2;
    font-family: 'Montserrat', sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    margin: 0;
}

h2 {
    text-align: center;
    font-weight: 600px;
    color: #333;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game-container {
    background-color: #ffffff;
    align-items: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.estadistiques-container {
    background-color: #ffffff;
    align-items: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

#mostrar-paraula {
    font-size: 24px;
    text-align: center;
    margin: 20px 0px;
    letter-spacing: 8px;
    color: #333;
}

input[type="text"] {
    font-size: 19px;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #457284;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #2e4d59;
}

#temps-passat {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}

#lletres-incorrectes {
    margin-top: 15px;
    font-size: 18px;
    color: #d9534f;
    text-align: center;
    word-spacing: 8px;
}
